@import 'app.css';

.body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.menu {
    display: inline-flex;
    width: 100%;
    align-items: center;
    padding: 10px;
    position: fixed;
    z-index: 1;
    color: white;
    background-color: #272727;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 60px;
}

.menu-link {
    display: inline-flex;
    width: 50%;
    align-items: center;
    justify-content: center;

}
.logo {
    display: flex;
    width: 20%;
    justify-content: center;
}
.menu-link .link {
    width: max-content;
    text-align: center;
    margin: 0 15px;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.menu-link .link:hover {
    border-bottom: 4px solid #2D3748;
}
.menu-link .link[active="true"] {
    border-bottom: 4px solid #268aef;
}
.discord-min {
    height: 2.2em;
}
.auth {
    width: 50%;
    justify-content: flex-end;
    text-align: end;
}
.main {
    display: flex;
    width: 100%;
    padding: 100px 200px;
    background-color: #1a202c;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* CAROUSEL */
.carousel {
    width: 100%;

}
.carousel__item {
    min-height: 200px;
    width: 100%;
    background-color: var(--vc-clr-primary);
    color:  var(--vc-clr-white);
    font-size: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.carousel__slide {
    padding: 10px;
}

.carousel__prev,
.carousel__next {
    box-sizing: content-box;
    background-color: transparent;
}
.carousel__prev {
    left: 30px;
}
.carousel__next {
    right: 30px;
}
.carousel__pagination-button--active {
    background-color: #268aef;
}
/* END CAROUSEL */

/* COMMUNITY */
.community {
    width: 100%;
    display: flex;
    margin: 50px 0;
}
.com-block {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    padding: 0 15px;
}
.com-title {
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #2D3748;
    font-size: 24px;
    font-weight: bold;
}
.com-info {
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    background-color: #2D3748;
    padding: 10px;
    border-radius: 4px;
}
.com-img {
    display: flex;
    width: 40%;
    justify-content: center;
    padding: 10px;
}
.com-resume {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    padding: 10px;
}
.com-resume-title {
    display: flex;
    width: 100%;
}
.com-resume-btn {
    display: flex;
    width: 100%;
}
.com-img img {
    width: max-content;
    height: 115px;
}
/* END COMMUNITY */

/* GAMES */
.games {
    width: 100%;
    display: flex;
    margin: 50px 0;
    flex-wrap: wrap;
}
.games-title {
    color: white;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #2D3748;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold;
}
.games-area {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.game {
    display: flex;
    width: 25%;
    justify-content: center;
    padding: 10px;
}
/* END GAMES */
.shop {
    width: 100%;
    display: flex;
    margin: 50px 0;
    flex-wrap: wrap;
}
.shop-title {
    color: white;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #2D3748;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold;
}
.items-area {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
}
.item {
    display: flex;
    width: 20%;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}
.nft_picture {
    display: flex;
    width: 100%;
    position: relative;
}
.nft_picture .quantity {
    position: absolute;
    right: 0;
    border-bottom-left-radius: 14px;
    padding: 0 10px;
    background-color: #272727;
    color: gold;
    opacity:0.8
}
.item-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: #2D3748;
    padding: 5px;
}
.item-title {
    display: flex;
    width: 100%;
    color: white;
}
.item-resume {
    display: flex;
    width: 100%;
    color: white;
}
.item-bonus {
    display: flex;
    width: 100%;
    color: white;
}
.item-price {
    display: flex;
    width: 100%;
    color: white;
}


/* FOOTER */
footer {
    width: 100%;
}
.footer {
    display: flex;
    background-color: #2D3748;
    height: auto;
    padding: 35px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-title {
    color: white;
    font-weight: 600;
    padding-bottom: 10px;
    width: 145px;
}
.footer-list {
    display: inline-flex;
    color: white;
    justify-content: space-between;
}
.footer-list ul {
    margin:0px;
    padding-left: 0px;
    list-style:none;
    display: block;
}
.footer-list ul li {
    padding-bottom: 10px;
}
.footer-list ul li a {
    color: white;
}
.footer-list ul li a:hover {
    text-decoration: none;
    font-weight: bold;
}
.footer-icon {
    width: 100%;
}
.footer-bottom {
    background-color: #272727;
    height: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px 0px 15px 0px;
    width: 100%;
}
.footer-link {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 20%;
    color: white;
}
.footer-link a {
    color: white;
}
.footer-link a:hover {
    color: white;
}
.footer-block {
    display: grid;
    justify-content: center;
    width: 33%;
}
.footer-separator {
    border-left: 2px solid #272727;
    border-right: 2px solid #272727;
}


/* ABOUT PAGE */
.about-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 60px 0;
    background-color: #1a202c;
}
.about-head {
    background-image: url("../../public/img/about.png");
    width: 100%;
    height: auto;
}
.about-title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 150px 200px;
    color: white;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.about-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.about-text {
    display: flex;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 100px;
}
.about-text-title {
    width: 100%;
    display: flex;
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 25px;
}
.about-text-resume {
    width: 100%;
    display: flex;
    color: white;
    font-size: 28px;
}
.about-img {
    display: flex;
    width: 50%;
    justify-content: center;
}
/* END ABOUT PAGE */


/* GAMES PAGE */
.games-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 100px 200px;
    background-color: #1a202c;
}
.game-div {
    display: flex;
    width: 100%;
    background-color: #2D3748;
    align-items: center;
}
.game-img {
    display: flex;
    width: 50%;
    background-color: #2D3748;
    padding: 10px;
}
.game-info {
    display: flex;
    width: 50%;
    background-color: #2D3748;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.game-title {
    display: flex;
    width: 100%;
    color: white;
    font-size: 28px;
}
.game-resume {
    display: flex;
    width: 100%;
    color: white;
    font-size: 20px;
}
.game-play {
    display: flex;
    width: 100%;
}

/* END GAMES PAGE */


/* TOKEN PAGE */
.token-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 60px 0;
    background-color: #1a202c;
}
.token-head {
    background-image: url("../../public/img/about.png");
    width: 100%;
    height: auto;
}
.token-title {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 150px 200px;
    color: white;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}
.token-info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    color:white;
}

/* END TOKEN PAGE */
